@import "style.css";

.blog-post-container{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

a{
    display: block;
}

.blog-post{
    margin: 5rem auto;
    width: 50%;
}

.blog-post .img-container img{
    width:100%;
}
.user-profile, .commentator-img{
    width: 70px;
    border-radius: 50%;
}

.post-content{
    margin: 2rem 0;
}

.post-content p{
    line-height: 1.8;
    color: #777;
    font-family: var(--text-font);
}

.post-title{
    font-size: 1.7rem;
    font-family: var(--header-font);
    color: rgb(36, 35, 35);
    font-weight: 600;
    margin: 2rem 0 1.5rem 0 ;
}

.post-title:hover{
    color: #bfba55;
    transition: all 0.4s ease-in-out;
}

.blog-post-detail{
    display: flex;
    align-items: center;
}

.user-post-detail{
    font-family: var(--text-font);
    color: #777;
}

.blog-post-detail a, p{
    color: #777;
}

.blog-post .user-detail, .actions, .date-published{
    margin-right: 1.5rem;
}

.user-name{
    margin-right: 1.5rem;
}

.user-detail{
    display: flex;
    align-items: center;
}

.user-detail p{
    margin-left: 1rem;
}

.actions{
    display: flex;
    align-items: center;
}

.actions .comment-count{
    margin-left: 0.5rem;
}

.view-post{
    padding: 0.8rem 1.5rem;
}

.view-post{
    padding: 0.8rem 1.5rem;
    border-radius: 25px;
    border: 1px solid #777;
    color: #777;
    font-weight: 400;
    background: white;
    cursor: pointer;
    font-size: 1.1rem;
    text-transform: capitalize;
    font-size: 900;
    font-family: var(--text-font);

}

.view-post:hover{
    transition: all 0.4s ease-in-out;
    background: #bfba55;
    color: white;
}


.diff{
    width: 50%;
    height: 1.8px;
    background-color: rgb(243, 236, 236);
}