@media only screen and (max-width: 1000px) {
    .blog-post{
        margin: 4rem auto;
        width: 80%;
    }
    
}

@media only screen and (max-width: 1000px) {
    .blog-post{
        margin: 4rem auto;
        width: 90%;
    }
    
}