<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{/asset/css/styles/nav.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/footer.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/footer.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/nav.css}">
    <link rel="stylesheet" th:href="@{/css/media-query/style.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/post.css}">
    <link rel="stylesheet" th:href="@{/asset/css/media-query/post.css}">
    <link rel="stylesheet" th:href="@{/asset/css/styles/create.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/e2052a1ca7.js" crossorigin="anonymous"></script>
</head>

<body>

        <!-- Navigation   -->
        <nav th:insert="fragments.html :: topnav"></nav>
    <!-- Navigation end   -->

     <!--Form-->
     <form th:action="@{/posts/save}" method="post" th:object="${postdto}" enctype="multipart/form-data">
        <h2>create a blog post</h2>

         <div class="alert alert-warning d-flex align-items-center" th:if="${error}" role="alert">
             <span th:text="${errorMessage}"></span>
             </div>

         <div class="mb-3">
             <label for="formFile" class="form-label">Cover Image</label>
             <input class="form-control" th:field="*{imageFile}" type="file" id="formFile">
         </div>

         <span class="align-left alert alert-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
        <input type="text" name="text" th:field="*{title}" id="text" placeholder="Title">

         <span class="align-left alert alert-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
        <textarea name="message" id="message" th:field="*{content}" cols="30" rows="10" placeholder="Post content here..."></textarea>
        <input type="submit" value="post your comment">
    </form> 
<!-- Form
  
        <Footer -->
        <footer th:insert="/fragments.html :: footer"></footer>
        <!-- Footer -->


    <!-- Navigation   -->
    

    <!-- Scripts -->
        <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/asset/scripts/app.js"></script>
</body>

</html>